@import 'base';
@import 'variables';
@import 'mixins';
@import 'responsive';

.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
        ul{
            @include reset-list(0,0,none);
            display: flex;
            width: 1000px;
            flex-wrap: wrap;
            flex-direction: row;
            text-align: center;
            justify-content: center;
                li{
                    background-color: $corSecundaria;
                    margin: 5px;
                    border-radius: 10px;
                    width: 200px;
                    height: 200px;
                    text-align: center;  
                }
        }
}
.services{
    background-color: $corPrimaria;
    padding: 25px 0 25px 0;
        .bottomHelp{
            background-color: #F3CE5E;
            padding: 15px;
            border-radius: 99px;
            border: none;
            margin: 15px;
            font-family: $fontBase;
            font-weight: bold;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            width: 200px;
        }
        .bottomHelp:hover {
            background-color: #fff;
            transform: translateY(-7px);
          }
}
.testymonials{
    background-color: $corSecundaria;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
        ul{
            @include reset-list(0,0,none);
            display: flex;
            width: 1000px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
                li{
                    background-color: #fff;
                    margin: 5px;
                    border-radius: 10px;
                    width: 400px;
                }
        }
}

